{% extends "index.html" %}

<!DOCTYPE html>

<html>
<head>

	<title>music contact</title>
</head>
<body>
	<div class="col-md-12">
	{% block form %}
		<div class="col-md-4">			
				<form action=" " method="POST" style="color: #123456">

					{% csrf_token %}
					{{form.as_p}}
					<!-- {{form.name.label_tag}}
					{{form.name}}
					{{form.subject.label_tag}}
					{{form.subject}}
					{{form.email.label_tag}}
					{{form.email}}
					{{form.message.label_tag}}
					{{form.message}} -->
					
					<input type="submit" value="submit" class="btn btn-danger btn btn-xs">
				</form>
		</div>
	{% endblock %}
	{% block start %}
	<div class="col-md-2">
		<script src= "../ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

	<span id="icon-contact"><i class="fa fa-twitter-square"></i></span> 

	</div>
	{% endblock %}
	</div>
</body>

</html>